<!-- <section class="filter container">
  <h2 class="filter_title">ШВИДКИЙ ПОШУК</h2>
  <p class="filter_text">
    Діє система знижок 5%,10%,15% в залежності від загальної кількості
    замовлення однакових букетів
  </p>
  <ul class="filter_group">
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">М'ЯСНІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle1.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle1.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle1.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle1.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">БОКСИ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle2.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle2.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle2.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle2.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">ДО 500ГРН</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle3.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle3.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle3.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle3.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">ЗБЕРИ САМ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle4.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle4.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle4.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle4.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">НЕ ЇСТІВНІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle5.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle5.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle5.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle5.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">500-1000ГРН</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle6.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle6.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle6.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle6.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">ДИТЯЧІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle7.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle7.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle7.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle7.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name filter--x">СУХОФРУКТОВІ ГОРІХОВІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle8.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle8.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle8.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle8.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name filter--ex">1000-2000ГРН</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle9.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle9.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle9.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle9.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">ФРУКТОВІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle10.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle10.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle10.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle10.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name">СОЛОДКІ</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle11.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle11.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle11.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle11.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
    <li class="filter_list">
      <a href="" class="filter_link">
        <h3 class="filter_name filter--ex">ПОНАД 2000 ГРН</h3>
        <picture>
          <source 
          src="./images/desctop/filter/Rectangle12.png"
          media="min-width: 1200px" />
          <source 
          src="./images/mobile/filter/Rectangle12.png"
          media="min-width: 767px" />
          <source 
          src="./images/mobile/filter/Rectangle12.png"
          media="(max-width: 767px)" />

          <img 
          src="./images/desctop/filter/Rectangle12.png"
          alt="Технокряк" 
          class="filter_img"
        />
        </picture>
      </a>
    </li>
  </ul>
</section> -->
