<!-- <div class="container">
  <div class="grid-header">
    <a href="index.html" class="logo grid-logo">
      <img src="./images/8888888888888888 1.png" alt="logo" class="logo-icon" />
    </a>
    <div class="text-block grid-text">
      <p class="text">Майстерня їстівних букетів</p>
      <p class="text">"Your Angel"</p>
      <p class="text">Кур'єрська доставка по Полтаві</p>
      <ul class="text">
        <li class="schedule">пн-пт 9.00-19.00</li>
        <li class="schedule">сб-нд 9.00-18.00</li>
      </ul>
    </div>
    <button type="button" class="btn grid-btn">Передзвоніть мені</button>

    <div class="grid-contacts">
      <ul class="social-list">
        <li class="social-list-item">
          <a class="social-link" href="" aria-label="Instagram"></a>
          <svg class="social-list__icon">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" href="" aria-label="YouTube"></a>
          <svg class="social-list__icon">
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" href="" aria-label="Facebook"></a>
          <svg class="social-list__icon">
            <use href="./images/symbol-defs.svg#icon-facebook2"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" href="" aria-label="Telegram"></a>
          <svg class="social-list__icon">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" href="" aria-label="Viber"></a>
          <svg class="social-list__icon">
            <use href="./images/symbol-defs.svg#icon-viber"></use>
          </svg>
        </li>
      </ul>

      <ul class="contacts-list">
        <li class="contacts-list-item" href="tel:+380991442079">
          +380 99 144 2079
        </li>
        <li class="contacts-list-item" href="tel:+380679578784">
          +380 67 957 87 84
        </li>
      </ul>
    </div>
  </div>

  <button
    class="menu-toggle js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      class="menu-icon"
      aria-label="Switch mobile menu"
      width="20"
      height="13"
    >
      <use href="./images/symbol-defs.svg#icon-menu_24px"></use>
    </svg>
  </button>

  <div class="menu-container js-menu-container">
    <button
      class="menu-toggle js-close-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    >
      <svg
        class="close-icon"
        aria-label="Переключатель мобильного меню"
        width="13"
        height="13"
      >
        <use href="./images/symbol-defs.svg#icon-close_24px"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">Швидкий пошук</li>
        <li class="nav-list-item">Майстер-класи</li>
        <li class="nav-list-item">Відгуки</li>
        <li class="nav-list-item">Часті питання</li>
        <li class="nav-list-item">Доставка</li>
      </ul>
    </nav>
    <ul class="contacts-list-mobile">
      <li class="contacts-list-item-mobile" href="tel:+380991442079">
        +380 99 144 2079
      </li>
      <li class="contacts-list-item-mobile" href="tel:+380679578784">
        +380 67 957 87 84
      </li>
    </ul>

    <ul class="social-list-mobile">
      <li class="social-list-item-mobile">
        <a class="social-link" href="" aria-label="Instagram"></a>
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="social-list-item-mobile">
        <a class="social-list-link" href="" aria-label="YouTube"></a>
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </li>
      <li class="social-list-item-mobile">
        <a class="social-list-link" href="" aria-label="Facebook"></a>
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-facebook2"></use>
        </svg>
      </li>
      <li class="social-list-item-mobile">
        <a class="social-list-link" href="" aria-label="Telegram"></a>
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </li>
      <li class="social-list-item-mobile">
        <a class="social-list-link" href="" aria-label="Viber"></a>
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-viber"></use>
        </svg>
      </li>
    </ul>
  </div>
</div> -->
