.comments {
  padding-top: 40px;
  padding-bottom: 75px;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to right, rgba(251, 252, 253, 0.3), rgba(249, 249, 252, 0.3)),
  url(../images/mobile/Rectangle3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @media screen and (min-width: 800px) {
    padding-top: 24px;
  padding-bottom: 135px;
  background-image: linear-gradient(to right, rgba(251, 252, 253, 0.3), rgba(249, 249, 252, 0.3)),
  url(../images/tablet/Rectangle3.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 48px;
  padding-bottom: 58px;
  background-image: linear-gradient(to right, rgba(251, 252, 253, 0.3), rgba(249, 249, 252, 0.3)),
  url(../images/desctop/Rectangle3.jpg);
  }
}
.comments_title {
  
  font-size: 32px;
line-height: 1.13;
margin-bottom: 24px;

@media screen and (min-width: 800px) {
  font-size: 64px;
line-height: 1.11;
}
@media screen and (min-width: 1200px) {
  margin-bottom: 48px;
}
}
.comments_container {
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.comments_group {
  &:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: 800px) {
      margin-right: 70px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 150px;
    }
  }

}
.comments_list {
  margin-bottom: 15px;
  @media screen and (min-width: 800px) {
    margin-bottom: 50px;
  }
}