.btn {
  display: block;
  background-color: var(--primary-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  color: #ffffff;
  padding: 8px 17px;
  border-radius: 15px;
  
  &:hover,
  &:focus {
    text-decoration: underline;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media screen and (min-width: 800px) {
    padding: 15px 23px;
    font-size: 22px;
    line-height: 1.23;

  }
  @media screen and (min-width: 1200px) {
    padding: 14px 7px;
    font-size: 16px;
    line-height: 1.25;
  }
}
